<div class="container" id="home-container">
  <div class="jumbotron text-center bg-secondary text-white">
    <h1 class="display-4 mb-4">Blog</h1>
    <p class="lead">This is a test blog.</p>
    <hr class="my-3" color="white">
    <p>Using Bootstrap and Ruby on Rails.</p>
    <%= link_to 'Sign up', signup_path, class: "btn btn-outline-light btn-lg" %>
  </div>
</div>