<h1 class="text-center mt-4 text-secondary">Edit category name</h1>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'form' %>
    </div>
  </div>
</div>
<div class="mb-3 row justify-content-center">
  <%= link_to '[ Cancel and return to category ]', categories_path(@category), class: "text-light" %>
</div>