<footer id="sticky-footer" class="py-4 bg-secondary text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Jangsungwon", "https://github.com/jangsungwon/alpha-blog", class: "text-white" %></small>
  </div>
</footer>